__pycache__/
*.py[cod]
*$py.class

dist/
build/
*.egg-info/

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

.ipynb_checkpoints

.env
.venv
env/
venv/
ENV/

.idea/
.vscode/
*.swp
*.swo

data/*.csv
models/*.pkl
